*{
   margin: 0;
   font-family: 'Open Sans', sans-serif;
}
.text-primary{

   color: #FD6E0A;
}

/* header and navigation style */
.nav-title{

   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 40px;
   
  
}
nav{
   display: flex;
   justify-content: space-between;
   margin:0 150px;
   

}
nav li{
   list-style: none;
   margin-left: 50px;
}
nav ul{
   display: flex;
   align-items: center;
}
.header{
   background: #FFF8F3;
   background-image: url(../images/header_bg.png), url(../images/developer.png);
   background-repeat: no-repeat;
   background-position: bottom right, left;
   background-size: auto 90%, auto 85%;
   
}
.btn-primary{
   background-color: #FD6E0A;
   font-weight: 700;
   font-size: 20px;
   color: #FFFFFF;
   border: 0;
   padding: 8px 26px;
   border-radius: 3px;
   margin-right: 15px;
}
.banner{
   display: flex;
   margin: 0 150px;
   align-items: center;
}

.banner-title{


   font-style: normal;
   font-weight: 600;
   font-size: 55px;
   color: #181818;
}
.banner-sub-title{
   font-weight: 600;
   font-size: 40px;
   color: #474747;
   margin-bottom: 17px;
}
.banner-discription{
   font-weight: 400;
font-size: 18px;
color: #757575;
font-size: 18px;
margin-bottom: 30px;
}

/* main section styles*/

main{
   max-width: 1140px;
   margin: 0 auto;
}

/* about section styles */

.about{
   text-align: center;
   font-weight: 700;
   font-size: 35px;
   color: #181818;
   background: #FFF8F3;
   border-radius: 10px;
   padding: 130px 150px;
   margin-top: 120px;
}

.section-title{
  
   padding-bottom: 30px;
}
.about-description{
   padding-bottom: 30px;
   color: #757575;
   font-weight: 400;
   font-size: 18px;
}

/* about info styles */

.about-info-container{
   display: flex;
   font-size: small;
   justify-content: space-around;
}
.info-title{
   font-weight: 500;
   font-size: 20px;
   color: #757575;
}
.about-info{
   font-weight: 400;
   font-size: 20px;
}
.info-description{
   font-weight: 300;
   font-size: 20px;
}
/* what i do section  */

.section-title-what{
   text-align: center;
   font-weight: 700;
   font-size: 35px;
   color: #181818;
   padding-top: 130px;
}
         /* summary section styles */

         .summary-title{
            font-weight: 700;
            font-size: 35px;
            text-align: center;
            color: #181818;
            margin-top: 130px;
            margin-bottom: 130px;
         }

   /* skill section styles */
         .skills{
            display: flex; 
            justify-content: space-around; 
            margin-top: 50px;
            margin-bottom: 10px;
         }

         .skill-items{
         padding: 30px;
         max-width: 15%;
         border-radius: 6px;
         text-align: justify;
         box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 50px;
         }

    .skill-tit le{
      font-weight: 700;
      font-size: 20px;
      text-align: left;
      color: #181818;
      margin-top: 10px;
      margin-bottom: 10px;
    }

      .skill-sub-title{
         font-weight: 400;
         font-size: 16px;
      /* or 175% */
      /* Dark 03 */
         text-align: justify;

         color: #757575;
      }

      /* resume section styles */

      .resume-content{
         display: flex;
         gap: 24px;
         
         
      }
      .resume-subtitle{

         font-weight: 700;
         font-size: 30px;
         color: #474747;
      }
      .resume-items-title{
         font-weight: 700;
         font-size: 25px;
         color: #474747;
         margin-top: 30px;
      }
      .resume-items-subtitle{
         ont-weight: 600;
      font-size: 20px;
      color: #757575;
         margin-top: 10px;
         margin-bottom: 20px;
      /* line-height: 27px; */
      }
      .resume .section-title{
         text-align: center;
         font-weight: 700;
         font-size: 35px;
         color: #181818;
         margin-top: 130px;
      }
      .resume .title{
         color: #474747;
         font-weight: 700;
         font-size: 30px;
         margin-top: 30px;
         
        
         
      }
      .resume .sub-title{
         color: #757575;
         font-weight: 600;
         font-size: 27px;
         margin-bottom: 20px;
         margin-top: 10px;

      }
      .resume-items .description{

         color: #757575;
         font-weight: 400;
         font-size: 16px;
         margin-bottom: 20px;
         /* margin-top: 30px; */

      }
      .resume-btn{
         text-align: center;
         margin-top: 50px;
      }
         /* contact styles */
         .contact{
            display: flex;
            gap: 100px;
            background: #FFF8F3;
            padding: 130px 200px;
         }
         .contact .section-title{
            text-align: center;
            ont-weight: 700;
            font-size: 35px;
            color: #181818;
         }